// fill the browser with our glorious website
body,
html {
	height: 100%;
	width: 100%;
	background-color: $background-color;
}

body {
	// override Skeleton's strange line-height setting
	line-height: 1.0;
}

body,
svg text {

	@extend %lato-light;

	// Note: below are very loose responsive breakpoints;
	// tighten up as needed for your application.

	/* ----------- Phones ----------- */
	@media screen
		and (max-width: $breakpoint-width-narrow) {
			font-size: 16px;
	}

	/* ----------- Tablets ----------- */
	@media screen
		and (min-width: $breakpoint-width-narrow) 
		and (max-width: $breakpoint-width-wide) {
			font-size: 20px;
	}

	/* ----------- Non-Retina Screens ----------- */
	@media screen
		and (min-width: $breakpoint-width-wide) 
		and (-webkit-min-device-pixel-ratio: 1) {
			font-size: 24px;
	}

	/* ----------- Retina Screens ----------- */
	@media screen
		and (min-width: $breakpoint-width-wide) 
		and (-webkit-min-device-pixel-ratio: 2)
		and (min-resolution: 192dpi) {
			font-size: 24px;
	}
}

h1 { font-size: 2em; }
h2 { font-size: 1.4em; }
h3 { font-size: 1em; }
h4 { font-size: 0.67em; }
h5 { font-size: 0.5em; }
h6 { font-size: 0.35em; }

a {
	&:link,
	&:over,
	&:hover,
	&:active {
		color: $text-link-color;
	}
}

.container {
	padding: $container-padding;
}

.full-height {
	height: 100%;
}

.template-tile {
	position: relative;
	padding: $container-padding;
	box-sizing: border-box;
	white-space: nowrap;
	overflow-x: hidden;
	overflow-y: auto;

	// double border
	&::before {
		position: absolute;
		display: block;
		content: '';
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		border: solid 1px $tile-border-color;
		pointer-events: none;
	}

	&::after {
		position: absolute;
		display: block;
		content: '';
		top: 0.2em;
		right: 0.2em;
		bottom: 0.2em;
		left: 0.2em;
		border: solid 2px $tile-border-color;
		pointer-events: none;
	}
}

.top-row {
	// flexible top row height, set in JS
	// by App.jsx#computeComponentDimensions
	margin-bottom: $container-padding;
}

.bottom-row {
	// fixed bottom row height, per breakpoint
	/* ----------- Tablets and below ----------- */
	@media screen
		and (min-width: $breakpoint-width-narrow) 
		and (max-width: $breakpoint-width-wide) {
			height: $bottom-row-height-short;
	}

	/* ----------- Desktop and above ----------- */
	@media screen
		and (min-width: $breakpoint-width-wide) {
			height: $bottom-row-height-tall;
	}
}

header {
	position: relative;
	height: $header-height;

	h1 {
		margin: 0;
	}

	h4 {
		display: inline-block;
		position: relative;
		top: -0.25em;
		margin: 0 0 0 0.3em;
		font-size: 0.66667em;
		cursor: pointer;
	}

	.header-main {
		@extend %merriweather-light;
	}
}

.leaflet-container {
	width: 100%;
	height: 100%;
}

.ReactModalPortal {

	.ReactModal__Overlay {
		// lift above Leaflet controls
		z-index: 2000;
		background-color: $modal-overlay-color;
	}

	.ReactModal__Content {
		position: absolute;
		width: 30em;
		top: 2em;
		bottom: 2em;
		padding: 2.5em;
		left: 50%;
		margin-left: -15em;

		background-color: $background-color;
		line-height: 0.9em;

		li {
			list-style-type: none;
		}

		p, ul {
			@extend %lato-light;
			font-size: 0.7em;
		}

		h1, h2, h3, h4, h5, h6 {
			@extend %merriweather-light;
			text-transform: uppercase;
		}

		button.close {
			position: absolute;
			top: 1em;
			right: 1em;
			border: none;
			background: none;
			padding: 0;

			span {
				font-size: 2.25em;
			}
		}
	}
}
