// fill the browser with our glorious website
body,
html {
	height: 100%;
	width: 100%;
	background-color: rgb(255, 255, 255);
}

body {
	// override Skeleton's strange line-height setting
	line-height: 1.0;

	@extend %lato-light;

	// Note: below are very loose responsive breakpoints;
	// tighten up as needed for your application.

	/* ----------- Phones ----------- */
	@media screen
		and (max-width: 750px) {
			font-size: 16px;
	}

	/* ----------- Tablets ----------- */
	@media screen
		and (min-width: 750px) 
		and (max-width: 1280px) {
			font-size: 20px;
	}

	/* ----------- Non-Retina Screens ----------- */
	@media screen
		and (min-width: 1280px) 
		and (-webkit-min-device-pixel-ratio: 1) {
			font-size: 24px;
	}

	/* ----------- Retina Screens ----------- */
	@media screen
		and (min-width: 1280px) 
		and (-webkit-min-device-pixel-ratio: 2)
		and (min-resolution: 192dpi) {
			font-size: 24px;
	}
}

h1 { font-size: 2em; }
h2 { font-size: 1.4em; }
h3 { font-size: 1em; }
h4 { font-size: 0.67em; }
h5 { font-size: 0.5em; }
h6 { font-size: 0.35em; }

.container {
	padding: $container-padding;
}

.full-height {
	height: 100%;
}

.template-tile {
	position: relative;
	padding: $container-padding;
	box-sizing: border-box;
	white-space: nowrap;
	overflow-x: hidden;
	overflow-y: auto;

	// double border
	&::before {
		position: absolute;
		display: block;
		content: '';
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		border: solid 1px rgb(225, 225, 225);
		pointer-events: none;
	}

	&::after {
		position: absolute;
		display: block;
		content: '';
		top: 0.2em;
		right: 0.2em;
		bottom: 0.2em;
		left: 0.2em;
		border: solid 2px rgb(205, 205, 205);
		pointer-events: none;
	}
}

.top-row {
	// flexible top row height, set in JS
	// by App.jsx#computeComponentDimensions
	margin-bottom: $container-padding;
}

.bottom-row {
	// fixed bottom row height
	height: $bottom-row-height;
}

header {
	position: relative;
	height: $header-height;
	padding-top: 10px;

	h1 {
		margin: 0;
	}

	.header-main {
		@extend %merriweather-light;
	}

	.header-sub {
		@extend %lato-thin;
		font-size: 0.7em;
		margin-left: 0.9em;
	}
}

.leaflet-container {
	width: 100%;
	height: 100%;
}
