// fill the browser with our glorious website
body,
html {
	height: 100%;
	width: 100%;
	background-color: rgb(255, 255, 255);
}

body {
	// override Skeleton's strange line-height setting
	line-height: 1.0;

	@extend %lato-light;
}

.container {
	padding: $container-padding;
}

.full-height {
	height: 100%;
}

.template-tile {
	position: relative;
	padding: 1.5em;
	box-sizing: border-box;

	// double border
	&::before {
		position: absolute;
		display: block;
		content: '';
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		border: solid 1px rgb(245, 245, 245);
	}

	&::after {
		position: absolute;
		display: block;
		content: '';
		top: 0.2em;
		right: 0.2em;
		bottom: 0.2em;
		left: 0.2em;
		border: solid 2px rgb(205, 205, 205);
	}
}

.top-row {
	// flexible top row height, set in JS
	// by App.jsx#computeComponentDimensions
	margin-bottom: $container-padding;
}

.bottom-row {
	// fixed bottom row height
	height: $bottom-row-height;
}

header {
	position: relative;
	height: $header-height;
	padding-top: 10px;
	color: $header-color;

	h1 {
		margin: 0;
	}

	.header-main {
		@extend %merriweather-light;
	}

	.header-sub {
		@extend %lato-thin;
		font-size: 0.7em;
		margin-left: 0.9em;
	}
}

.leaflet-container {
	width: 100%;
	height: 100%;
}
