// Google Fonts imported in index.html;
// Replace these SASS placeholders as necessary with imported fonts
%merriweather-light {
	font-family: 'Merriweather', serif;
	font-weight: 300;
}

%lato-thin {
	font-family: 'Lato', sans-serif;
	font-weight: 100;
}

%lato-light {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
}

%lato-normal {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
}
