// Google Fonts imported in index.html;
// Replace these SASS placeholders as necessary with imported fonts
%merriweather-light {
  font-family: 'Merriweather', serif;
  font-weight: 300;
  color: $text-color;
}

%lato-thin {
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  color: $text-color;
}

%lato-light {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: $text-color;
}

%lato-normal {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: $text-color;
}
